:root {
    --elvebakken_blå: #74b2e1;
    --elvebakken_blå_lys: #9CC9EB;
    --elvebakken_rosa: #DC8EB6;
    --elvebakken_gul: #F0E691;
    --elvebakken_oransje: #FAB965;
    --mørke_blå: #204B57;
    --mørke_grønn: #75DC98;
    --lyse_grønn: #89F1AC;
}
* {
    margin: 0;
    font-family: 'Oslo Sans', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    background-color: #9F98C3;
}
/* Overskrift */
#spill-tittel {
    text-align: center;
    padding-top: 10px;
}
/* Tekst som vises ved for liten bredde */
#for-liten-bredde {
    display: none;
    text-align: center;
    padding: 10px;
}
canvas {
    position: absolute;
}