/* bakgrunnsbilde øverst på side */
#forside-bilde {
    background-image: url("/assets/imgs/geofag/jordklode.png"); /* her kan bildet endres */
}
.visuelt-element {
    background-image: url("/assets/imgs/geofag/vannkraft.png"); /* bilde kan byttes ut */
}
#fagnummer2 .visuelt-element {
    background-image: url("/assets/imgs/geofag/bølge.png"); /* bilde kan byttes ut */
}
.sentrale-temaer > ul > li{
    padding: 15px !important;
    font-size: 1.1rem;
}