:root {
    --elvebakken_blå: #74b2e1;
    --elvebakken_rosa: #DC8EB6;
    --mørke_blå: #204B57;
    --mørke_grønn: #75DC98;
    --lyse_grønn: #89F1AC;
}
*{
    font-family: 'Oslo Sans', sans-serif;
}
#fag_meny{
    overflow-x: auto;
    background-color: var(--elvebakken_blå);
    /*background-image: url("/assets/imgs/elvebakken-logo-2024-25.jpg");*/
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 30px;
    /*skjuler scrollebaren til fag_menyen for IE, Edge og Firefox */
    -ms-overflow-style: none;  /* IE og Edge */
    scrollbar-width: none;  /* Firefox */
}
#fag-meny-område{
    margin: 50px 5% 0 5%;
}
/*skjuler scrollebaren til fag_menyen for Chrome, Safari og Opera*/
#fag_meny::-webkit-scrollbar{
    display: none;
}
/*lenke til de forskjellige valgfagene*/
.fag_i_meny{
    height: 250px;
    width: 200px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*bilde i lenkene til de ulike programfagene*/
.fag_bilde{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0; /*avrunder de øverste hjørnene*/
}
#fag_meny p{
    padding-left: 10px;
    font-size: large;
}
#fag-meny-tittel{
    display: flex;
    align-items: end;
    padding-bottom: 10px;
}
#fag-meny-tittel p{
    padding-left: 10px;
    padding-bottom: 5px;
}
#fag-meny-tittel p:hover{
    text-decoration: underline;
    cursor: pointer;
}
/*pil i lenkene til sidene om programfagene*/
.lenke_pil{
    width: 30%;
    margin: 30px 10px 10px 10px;
    /*Flytter pilen tilbake etter hover*/
    transform: translate(0px, 0px);
    transition-duration: 0.1s;
}
/*Flytter pilen ved hover og focus*/
.fag_i_meny:hover .lenke_pil, .fag_i_meny:focus .lenke_pil{
    transform: translate(10px, 0px);
    transition-duration: 0.1s;
}

.bla_knapp{
    position: absolute;
    /*sentrerer vertikalt inni fag-menyen*/
    align-self: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: black solid 1px;
    background-color: white;
}
/*hover-effekt for knappene man blar i menyen med*/
.bla_knapp:hover, .bla_knapp:focus{
    cursor: pointer;
    border: black solid 2px;
}
/*bildene (pilene) i knappene for å scrolle menyen*/
.bla_knapp > img{
    width: 100%;
    height: 100%;
}
#høyre_bla_knapp{
    right: 35px;
    transform: rotate(90deg);
}
#venstre_bla_knapp{
    transform: rotate(-90deg);
    display: none;
    left: 35px;
}
* {
    margin: 0;
    font-family: 'Oslo Sans', sans-serif;
    scroll-behavior: smooth;
}
#forside {
    position: relative;
    display: grid;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    background-image: url("/assets/imgs/forsidebilde_realfag.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    font-size: 3rem;
}
#forside h1 {
    padding: 20px;
    color: white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#forside #knapp {
    position: absolute;
    align-self: end;
    justify-self: center;
    bottom: 10%;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 15px;
    border: 2px solid var(--elvebakken_blå);
    font-size: 20px;
    line-height: 60px;
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#knapp img {
    width: 45px;
    height: 45px;
    transform: rotate(180deg);
    align-self: center;
    justify-self: center;
}
#knapp:hover {
    transform: translate(0px, 3px);
}
#elvebakken-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    margin: 15px;
}
#elvebakken-logo img {
    width: 100%;
}
@media (max-width: 600px) {
    #forside h1{
        font-size: 15vw;
    }
}
@media (max-height: 400px) {
    #forside #knapp {
        width: 40px;
        height: 40px;
    }
    #knapp img {
        width: 30px;
        height: 30px;
    }
    #elvebakken-logo {
        width: 50px;
    }
}