:root {
    --elvebakken_blå: #74b2e1;
    --margin_venstre_tall: 0;
}


#fag_meny{
    margin-left: calc(var(--margin_venstre_tall)*1px);
    overflow-x: auto;
    background-color: var(--elvebakken_blå);
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 30px;
    /*skjuler scrollebaren til fag_menyen for IE, Edge og Firefox */
    -ms-overflow-style: none;  /* IE og Edge */
    scrollbar-width: none;  /* Firefox */
}
/*skjuler scrollebaren til fag_menyen for Chrome, Safari og Opera*/
#fag_meny::-webkit-scrollbar{
    display: none;
}
/*lenke til de forskjellige valgfagene*/
#fag_meny > a{
    height: 250px;
    width: 170px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*bilde i lenkene til de ulike programfagene*/
.fag_bilde{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0; /*avrunder de øverste hjørnene*/
}
#fag_meny p{
    padding-left: 10px;
    font-size: large;
}
/*pil i lenkene til sidene om programfagene*/
.pil{
    width: 30%;
    margin: auto 10px;
    /*Flytter pilen tilbake etter hover*/
    transform: translate(0px, 0px);
    transition-duration: 0.1s;
}
/*Flytter pilen ved hover*/
#fag_meny > a:hover .pil, #fag_meny > a:focus .pil{
    transform: translate(10px, 0px);
    transition-duration: 0.1s;
}