/* bakgrunnsbilde øverst på side */
#forside-bilde {
    background-image: url("/assets/imgs/kjemi/periodesystemet.png"); /* her kan bildet endres */
}
.visuelt-element {
    background-image: url("/assets/imgs/kjemi/person_på_lab.png"); /* bilde kan byttes ut */
}
#fagnummer2 .visuelt-element {
    background-image: url("/assets/imgs/kjemi/kjemiting.png"); /* bilde kan byttes ut */
}
/*Liste over sentrale temaer*/
.sentrale-temaer > ul > li {
    list-style-type: none;
    font-weight: bold;
}
.sentrale-temaer > ul {
    -webkit-padding-start: 0;
    padding-block: 1vw;
    padding: 0;
}
.sentrale-temaer li {
    padding: 1vw;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-top: 10px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img {
    border-radius: 15px;
    width: 100%;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px !important;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--elvebakken_gul);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--elvebakken_rosa);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}