@media(max-width: 1080px){ /* Justerer skriftstørrelsen til skjermbredden */
    #forside-bilde {
        font-size: 4vw;
    }
}
/*endrer grid-template-rows her siden programfag.css baserer seg på realfagene som også har info om realfagspoeng*/
.rask-oversikt {
    grid-template-rows: auto 1fr 1fr; /* fordeler elementene i listen utover boksen */
}
#forside-bilde {
    background-image: url("../../assets/imgs/markedsføring/rosa_megafon.png"); /* her kan bildet endres */
}
.visuelt-element {
    background-image: url("../../assets/imgs/markedsføring/graa.png"); /* bilde kan byttes ut */
}