/* bakgrunnsbilde øverst på side */
#forside-bilde {
    background-image: url("../../../assets/imgs/engelsk/shakespear.png"); /* her kan bildet endres */
}
.visuelt-element {
    background-image: url("../../../assets/imgs/engelsk/kingsguide.png"); /* bilde kan byttes ut */
}
#fagnummer2 .visuelt-element {
    background-image: url("../../../assets/imgs/engelsk/america.png"); /* bilde kan byttes ut */
}

.elev-sitat > ul{
    padding: 10px 25px;
}
.elev-sitat > ul > li{
    padding: 5px;
    font-size: 1.1rem;
}

@media(max-width: 770px){
    #forside-bilde {
        font-size: 5.5vw;
    }
    h2 {
        font-size: 2.2rem !important;
    }
}

/*Liste over sentrale temaer*/
.sentrale-temaer > ul > li {
    list-style-type: none;
    font-weight: bold;
}
.sentrale-temaer > ul {
    -webkit-padding-start: 0;
    padding-block: 1vw;
    padding: 0;
}
.sentrale-temaer li {
    padding: 1vw;
}