/* bakgrunnsbilde øverst på side */
#forside-bilde {
    background-image: url("../../assets/imgs/fysikk/placeholder_fysikk.png"); /* her kan bildet endres */
}
.visuelt-element {
    background-image: url("../../assets/imgs/fysikk/galakse.png"); /* bilde kan byttes ut */
}
#fagnummer2 .visuelt-element {
    background-image: url("../../assets/imgs/fysikk/oransje_galakse.png"); /* bilde kan byttes ut */
}
.hvordan-jobber-vi, .interaktivt-element, #andre-fag {
    background-color: #9F98C3 !important; /* overstyrer originalfarge */
}
#andre-fag:hover {
    background-color: #B7B2D2 !important;
}