/* bakgrunnsbilde øverst på side */
#forside-bilde {
    background-image: url("../../../assets/imgs/pom/person_foran_gjerde.png"); /* her kan bildet endres */
}
.visuelt-element {
    background-image: url("../../../assets/imgs/pom/freedom_tagget.png"); /* bilde kan byttes ut */
}
@media(max-width: 1080px){ /* Justerer skriftstørrelsen til skjermbredden */
    #forside-bilde {
        font-size: 4vw;
    }
}
@media(max-width: 430px){ /* Justerer skriftstørrelsen til skjermbredden */
    h2 {
        font-size: 9vw !important;
    }
}