/* bakgrunnsbilde øverst på side */
#forside-bilde {
    background-image: url("../../../assets/imgs/kinesisk2/wall_china.png"); /* her kan bildet endres */
}
.visuelt-element {
    background-image: url("../../../assets/imgs/kinesisk2/flag.png"); /* bilde kan byttes ut */
}

@media(max-width: 770px){
    #forside-bilde {
        font-size: 5.5vw;
    }
    h2 {
        font-size: 2.2rem !important;
    }
}

/*Liste over sentrale temaer*/
.sentrale-temaer > ul > li {
    list-style-type: none;
    font-weight: bold;
}
.sentrale-temaer > ul {
    -webkit-padding-start: 0;
    padding-block: 1vw;
    padding: 0;
}
.sentrale-temaer li {
    padding: 1vw;
}